.home {
  @include col;
  align-items: center;
  justify-content: center;

  .error-message {
    font-size: 1rem;
    color: #bb3b3b;
    margin-top: 0.625rem;
  }

  .section {
    @include col;
    margin-top: 1.25rem;
    align-items: center;
    justify-content: center;
  }

  .sentence {
    margin-top: 0.625rem;
  }
  
  .loading {
    font-size: 1rem;
    color: white;
  }

  a {
    color: white;
  }
}